<label for="username">email</label>
<input type="text" id="fname" name="email" placeholder="email">

<label for="password">password</label>
<input type="password" id="lname" name="password" placeholder="password">

<input type="submit">