<label for="username">email</label><br>
<input type="text" id="fname" name="email" placeholder="email"><br><br>

<label for="password">password</label><br>
<input type="password" id="lname" name="password" placeholder="password"><br><br>

<input type="submit">