<label for="username">First Name</label><br>
<input type="text" id="fname" name="name" placeholder="First Name" required><br><br>

<label for="username">Password</label><br>
<input type="password" id="fname" name="password" placeholder="password" required><br><br>

<label for="username">Gender</label><br>
<select id="profession" name="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
</select><br><br>

<label for="username">Email</label><br>
<input type="text" id="fname" name="email" placeholder="email" required><br><br>

<label for="phone">Phone:</label><br>
    <input type="tel" id="phone" name="phone"
           placeholder="08xx-xxxx-xxxx"
           pattern="[0]{1}[8]{1}[0-9]{10}"
           required /> <br><br>

<label for="username">BirthDate</label><br>
<input class="birthdate" type="date" placeholder="YYYY-MM-DD" data-date-split-input="true" name="birthDate" required/> <br><br>

<label for="username">City</label><br>
<input type="text" id="fname" name="city" placeholder="city" required><br><br>