<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Pilih Mana?</h2>
  <a href="/temen-curhat"> Dengerin Curhat</a> || 
  <a href="/pencurhat">Yang Mau Curhat</a>
</body>
</html>