<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/pencurhat/<%= id %>/review" method="POST">
        <h2>Add review</h2>
        <input type="text" name="testimony">
        <input type="submit">
    </form>
</body>
</html>