<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Pencurhat Registration Form</h1>
  <br>
  <form action="/pencurhat/register" method="post">
<<<<<<< HEAD:views/percurhatRegister.ejs
    <%- include('./partials/regis') %>
=======
  <%- include('./partials/regis') %>
  <label for="password">Password</label>
  <input type="text" name="password" placeholder="Password">
>>>>>>> 274387a7b54c899bce3c342de1b2098d90657eba:views/pencurhatRegister.ejs
    <input type="submit">
  </form>
</body>
</html>