<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% if (errMsg) { %>
    <h1><%= errMsg %></h1>
  <% } %>
  <h1>Login sebagai Pencurhat</h1>
  <br>
  <h3>Belum Punya Akun? yauda <a href="/pencurhat/register">register</a> dong..!</h3>
  <form action="/pencurhat" method="post">
    <%- include('./partials/login') %>
  </form>
</body>
</html>