<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>temen Curhat Login</h1>
  <br>
    <form action="/temen-curhat/login" method="POST">
        <%- include('/partials/login') %>
    </form>
    <h2>Ga punya akun? <br><a href="/temen-curhat/add">register</a></h2>
</body>
</html>