<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
    <h1>Temen Curhat  REGISTER</h1>
<br>
<form action="/temen-curhat/register" method="POST">
    
    <%- include('./partials/regis') %>

    <label for="">Expertise</label><br>
    <select id="profession" name="expertise">
        <% datas.forEach(data => { 
            if (data.name === 'Tidak Perlu') { } else { %>
            <option value="<%= data.name %>"><%= data.name %></option>
        <% }}) %>
    </select> <br><br>
    <input type="submit">
</form>
</body>
</html>